@model Internship.Models.ViewModels.FinalApplicationVM

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html>
<head>
    <title>Application Form</title>

    <link rel="stylesheet" href="~/css/DataTable.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
</head>
<body>
    <h1>Application Form</h1>

    <form method="post" class="WebForm" asp-action="ApplicationForm_Final_Upsert" enctype="multipart/form-data">
        <input asp-for="@Model.SubmittedApplicationForms.Id" hidden />

        <div>
            <label for="@Model.SubmittedApplicationForms.PDFForm"></label>
            <input asp-for="@Model.SubmittedApplicationForms.PDFForm" type="file" name="file" placeholder="ImageUrl" />
        </div>


            <div class="inputQue">
                <label>Category</label>
            <select asp-for="@Model.SubmittedApplicationForms.StudentId" asp-items="@Model.StudentList" class="selectC">
                    <option disabled selected>Select Category</option>
                </select>
            <span asp-validation-for="@Model.SubmittedApplicationForms.StudentId" class="alert-warning"></span>

            </div>

            <div class="inputQue">
                <label>Category</label>
            <select asp-for="@Model.SubmittedApplicationForms.InternshipCoordinatorId" asp-items="@Model.CoordinatorList" class="selectC">
                    <option disabled selected>Select Category</option>
                </select>
            <span asp-validation-for="@Model.SubmittedApplicationForms.InternshipCoordinatorId" class="alert-warning"></span>

            </div>

            <button type="submit">Submit</button>
    </form>
</body>
</html>

