@using Internship.DataAccess.Data;
@using Microsoft.AspNetCore.Identity;
@using System.Linq


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Internship.Models.ViewModels.SaveandinternshipVM


@inject ApplicationDbContext DbContext
@inject UserManager<ApplicationUser> UserManager
@{
    // Get the currently signed-in user
    ApplicationUser user2 = await UserManager.GetUserAsync(User);

    // Get the associated Student_User record from the Student_User table
    Student_User studentUser = DbContext.Students.FirstOrDefault(s => s.UserId == user2.Id);

   

    }

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Student.css" asp-append-version="true" />

    <title>Saved Internship</title>
    <style>
        .savebutton{
            z-index:1;
        }

       
    </style>
</head>

<section class="studentpage">

    <div class="internshipSide">
        <div class="checkAll">
            <h2>Internship Oppoptunity</h2>
            <a href="#">Check all &#x2192;</a>
        </div>
        <div class="internships">
         
            @foreach (var Internship in Model.InternshipOpportunity.OrderByDescending(p => p.DatePosted).ToList().Take(3))
            {
                <div  class="firstInternship">
                    <a asp-action="Internship" asp-area="User" asp-controller="Home">
                        

                        <div class="companySave">
                            
                            <div class="companyLogo">
                                <img src="@Internship.ImageUrl" alt="" width="36px" height="36">
                                <h3>@Internship.CompanyName</h3>
                            </div>
                            <form method="post" asp-controller="Home" asp-action="SaveInternship">

                                <input hidden name="id" value="@Internship.Id" />
                                <input hidden name="id" asp-for="@Model.SavedInternships.Id" />
                                <button type="submit">

                                  
                                 
                                        <img src="~/img/save-symbol.png" alt="" width="24px" height="30">
                               

                               
                            </button>
                            </form>
                        </div>
                        <div class="job">
                            <h3>@Internship.JobTitle</h3>
                            <h5>@Internship.type</h5>
                        </div>
                        <div class="location">
                            <img src="~/img\location-symbol.png" alt="">
                            <h5>@Internship.Location</h5>
                        </div>
                    </a>
                </div>
    }
           


          
        </div>
    </div>
    <div class="howWork">
        <div class="how">
            <h2>How the system work?</h2>
        </div>
        <div class="steps">
            <div class="step1">
                <div class="step1-content">
                    <h3>Step 1</h3>
                    <p>
                        Fill Out the application form and sign it
                        from the institution you are going to work with
                    </p>
                    <button>Button</button>
                </div>
            </div>
            <div class="step1">
                <div class="step1-content">
                    <h3>Step 2</h3>
                    <p>
                        Submit all the forms and wait for the approval from your instructor<br />
                        <i>#you can follow your application status from the status bar up there</i>
                    </p>
                    <button>Button</button>
                </div>
            </div>

            <div class="step1">
                <div class="step1-content">
                    <h3>Step 3</h3>
                    <p>
                        Fill Out the application form and sign it
                        from the institution you are going to work with
                    </p>
                    <button>Button</button>
                </div>
            </div>
        </div>
    </div>

</section>

