@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<InternshipOpportunity>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Style.css asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Student.css" asp-append-version="true" />

    <title>Events list</title>
</head>

<section class="studentpage">

    <div class="internshipSide">
        <div class="checkAll">
            <h2>Internship Oppoptunity</h2>
            <a href="#">Check all &#x2192;</a>
        </div>
        <div class="internships">
            <!--  <div class="firstInternship" >
                <a href="Support(Student).html">
                    <div class="companySave">
                        <div class="companyLogo">
                            <img src="img\Luxoft-logo.png" alt="" width="36px" height="36">
                            <h3>Luxoft</h3>
                        </div>
                        <a href="##"><img src="img\save-symbol.png" alt="" width="24px" height="30"></a>
                    </div>
                    <div class="job">
                        <h3>C/C++ Developer</h3>
                        <h5>On-site</h5>
                    </div>
                    <div class="location">
                            <img src="img\location-symbol.png" alt="">

                            <h5>Istanbul, Turkey</h5>
                    </div>
                </a>
            </div> -->
            @foreach (var Internship in Model.OrderByDescending(p => p.DatePosted).ToList().Take(3))
            {
                <div class="firstInternship">
                    <a asp-action="Internship" asp-area="User" asp-controller="Home">
                        <div class="companySave">
                            <div class="companyLogo">
                                <img src="@Internship.ImageUrl" alt="" width="36px" height="36">
                                <h3>@Internship.CompanyName</h3>
                            </div>
                            <button>
                                <img src="img\save-symbol.png" alt="" width="24px"
                                     height="30">
                            </button>
                        </div>
                        <div class="job">
                            <h3>@Internship.JobTitle</h3>
                            <h5>@Internship.type</h5>
                        </div>
                        <div class="location">
                            <img src="img\location-symbol.png" alt="">
                            <h5>@Internship.Location</h5>
                        </div>
                    </a>
                </div>
    }
           


          
        </div>
    </div>
    <div class="howWork">
        <div class="how">
            <h2>How the system work?</h2>
        </div>
        <div class="steps">
            <div class="step1">
                <div class="step1-content">
                    <h3>Step 1</h3>
                    <p>
                        Fill Out the application form and sign it
                        from the institution you are going to work with
                    </p>
                    <button>Button</button>
                </div>
            </div>
            <div class="step1">
                <div class="step1-content">
                    <h3>Step 2</h3>
                    <p>
                        Submit all the forms and wait for the approval from your instructor<br />
                        <i>#you can follow your application status from the status bar up there</i>
                    </p>
                    <button>Button</button>
                </div>
            </div>

            <div class="step1">
                <div class="step1-content">
                    <h3>Step 3</h3>
                    <p>
                        Fill Out the application form and sign it
                        from the institution you are going to work with
                    </p>
                    <button>Button</button>
                </div>
            </div>
        </div>
    </div>

</section>

