@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Internship.Models;
@using Internship.Utility;
@model Internship.Models.ViewModels.SaveandinternshipVM






@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ;
}


<head>
    <link rel="stylesheet" href="~/css/Internshipjob.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    @if (!User.IsInRole(SD.Role_User_Student))
    {
        <link rel="stylesheet" href="~/css/CareerCenter.css" asp-append-version="true" />

    }
  

</head>

<section class="Internships">
    <!-- Internship Search and filters -->

    <div class="Filter-Internship">
        @if (!User.IsInRole(SD.Role_User_Student))
        {
            <div class="Student-view">
                <p><strong>Student view!</strong></p>

            </div>
           

        }
        <div class="Search-Input">
            <img src="~/img/SearchIcon.png" height="16px" alt="SearchIcon">
            <input type="text" id="search-input" placeholder="Search by title, skill, or company">
        </div>

        <div>
            <select name="jobTypeFilter" id="jobTypeFilter">
                <option value="" disabled selected>Job Type</option>
                <option value="">Part-Time</option>
                <option value="">Full-Stack</option>
            </select>
        </div>

        <div>
            <select name="locationFilter" id="locationFilter">
                <option value="" disabled selected>On-Site/Remote</option>
                <option value="">On-Site</option>
                <option value="">Remote</option>
                <option value="">Hybrid</option>
            </select>
        </div>
       
       

    </div>



</section>
    </div>

<div>
    <!-- Content Container -->
    <div class="Internship-Container">
        <!-- All Internship offers left side -->
        <div class="Left-Internship-Links">

            @foreach (var InternshipJob in Model.InternshipOpportunity.OrderByDescending(p => p.DatePosted).ToList())
            {
                <div id="Internship-Link" class="Internship-Link" data-internship-id="@InternshipJob.Id">

                    <div class="Title-img">
                        <img src="@InternshipJob.ImageUrl" height="40px" alt="">
                        <div class="text-img">
                            <h3>@InternshipJob.JobTitle</h3>
                            <p>@InternshipJob.CompanyName</p>
                        </div>
                    </div>
                    @if (User.IsInRole(SD.Role_Career_Center))
                    {
                        <div>
                            <a class="delete-link" data-internship-id="@InternshipJob.Id">Delete</a>
                        </div>
                    }

                    <div class="location-img">
                        <img src="~/img/location-symbol.png" alt="">
                        <p class="text-img">@InternshipJob.Location</p>
                    </div>
                </div>
                <hr>
            }

        </div>

        <!-- Internship Description-->
        <div class="Internship-Details">
            <div class="Internship-Details-Margin">
                <div class="job-header">
                    <div class="Title-Details">
                        <h3></h3>
                        <p></p>
                    </div>


                    <div class="Type-Skills">

                        <div class="Filters type">
                            <img src="~/img/suitCase.png" height="30px" alt="">
                            <p>Full-Time</p>
                        </div>

                        <div class="Filters skills">
                            <img src="~/img/CheckList.png" height="30px" alt="">
                            <p></p>
                        </div>

                    </div>

                    <div class="call-to-action-btn">
                        @if (User.IsInRole(SD.Role_User_Student))
                        {
                            <a href="">Apply</a>

                        }
                        else
                        {
                            <a style="filter:blur(1.5px) ;cursor: no-drop;">Apply</a>

                        }

                        <form method="post" asp-area="Student" asp-controller="Home" asp-action="SaveInternship">

                            <input hidden name="id" class="SavedInternships" />
                            <input hidden name="id" asp-for="@Model.SavedInternships.Id" />
                            <button type="submit">
                                <p>Save </p> <img src="~/img/save-symbol-gray.png" height="16px" alt="">
                            </button>
                        </form>
                     

                    </div>

                </div>
                <hr>
                <div class="About-job">
                    <h4>About the job:</h4>
                    <p>
                     
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script>
        

         $(document).ready(function () {
                $('.Left-Internship-Links').on('click', '.Internship-Link', function () {
                    // Remove the 'active' class from all Internship-Link elements
                    $('.Internship-Link').removeClass('active');

                    // Add the 'active' class to the clicked Internship-Link
                    $(this).addClass('active');

                    var internshipId = $(this).data('internship-id');
                    $.ajax({
                        url: '/User/Home/GetInternshipDetails',
                        type: 'GET',
                        data: { id: internshipId },
                        success: function (response) {
                            $('.Internship-Details .Title-Details h3').text(response.jobTitle);
                            $('.Internship-Details .Title-Details p').text(response.companyName + ' - ' + response.location + ' - ' + response.site);
                            $('.Internship-Details .skills p').text(response.skillsReq);
                        $('.Internship-Details .type p').text(response.type);
                        $('.Internship-Details .SavedInternships').val(response.id);
                            $('.Internship-Details .About-job p').html(response.description);
                        },
                        error: function () {
                            // Handle error, if any
                        }
                    });
                });

            $('.Internship-Link:first').click();





            $('.delete-link').click(function (event) {
                event.preventDefault(); // Prevent default link behavior
          
                var internshipId = $(this).data('internship-id');

                // Make an AJAX request to delete the internship
                $.ajax({
                    url: '/CareerCenter/Internship/DeletePost_Internship/' + internshipId,
                    type: 'POST',
                    success: function (response) {
                        // Handle success response
                        // For example, you can remove the deleted element from the DOM
                        $('#Internship-Link[data-internship-id="' + internshipId + '"]').remove();
                    },
                    error: function () {
                        // Handle error, if any
                    }
                });
            });
        });
       


    </script>
}
