
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Internship.Models.ViewModels.InternshipVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" href="~/css/CareerCenter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/DataTable.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</head>


<section class="CareerCenter-Content">

        <div class="widgets-shared" id="widget4">
            <div id="Add-Job-btn" class="widget-right-side">
                <p>Add Internship opportunity</p>

                <img src="img/CareerCenter/SuitCase.png" height="45px" alt="">
            </div>
            <form method="post" class="WebForm" asp-action="Upsert_Internship" enctype="multipart/form-data">
            <input asp-for="@Model.InternshipOpportunities.Id" hidden />
            <input asp-for="@Model.InternshipOpportunities.ImageUrl" hidden />
                <div class="Add-User-Form-invisible Add-User-Form" id="Add-User-Form">
                    <div class="inputs">

                        <div id="first-slide">
                            <div class="multiple-inputs-line">
                            <div class="Input-title">
                                    <label for="">Job title</label>
                                    <input asp-for="@Model.InternshipOpportunities.JobTitle" type="text" placeholder="Job title">

                                </div>
                            <div class="Input-title">
                                    <label for="">Company Name</label>
                                    <input asp-for="@Model.InternshipOpportunities.CompanyName" type="text" placeholder="Company Name">
                                </div>

                            <div class="Input-title">
                                    <label for="">Location</label>
                                <select id="location"  class="select2" asp-for="@Model.InternshipOpportunities.Location">
                                        <option disabled selected>Choose location</option>
                                    <option value="Ankara">Ankara (Turkey)</option>
                                    <option value="Istanbul">Istanbul (Turkey)</option>
                                    <option value="Izmir">Izmir (Turkey)</option>
                                    <option value="Abu Dhabi">Abu Dhabi (UAE)</option>
                                    <option value="Dubai">Dubai (UAE)</option>
                                    <option value="Cairo">Cairo (Egypt)</option>
                                    <option value="Riyadh">Riyadh (Saudi)</option>
                                    <option value="Paris">Paris (France)</option>
                                    <option value="Rome">Rome (Italy)</option>
                                    <option value="London">London (UK)</option>
                                    <option value="Berlin">Berlin (Germany)</option>
                                    <option value="Baghdad">Baghdad (Iraq)</option>
                                    </select>
                                </div>

                            </div>


                            <div class="multiple-inputs-line">

                            <div class="Input-title">
                                    <label for="">Job Type</label>
                                    <select asp-for="@Model.InternshipOpportunities.type">
                                        <option disabled selected>Choose type</option>
                                        <option>Part-Time</option>
                                        <option>Full-Time</option>
                                    </select>
                                </div>
                            <div class="Input-title">
                                    <label for="">On-site/Remote</label>
                                    <select asp-for="@Model.InternshipOpportunities.Site">
                                        <option disabled selected>Choose On-site or Remote</option>
                                        <option>On-site</option>
                                        <option>Remote</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div id="second-slide">
                            <div class="three-inputs-left-one-input-right">
                                <div class="three-inputs-left">
                                <div class="Input-title">
                                    <label for="">DatePosted</label>
                                    <input asp-for="@Model.InternshipOpportunities.DatePosted" type="datetime-local" placeholder="Company Name">
                                </div>

                                <div class="Input-title">
                                    <label for="">SkillsReq</label>
                                    <input asp-for="@Model.InternshipOpportunities.SkillsReq" type="text" placeholder="Company Name">
                                </div>
                               
                                <div class="Input-title">
                                    <label for="">Image</label>
                                    <input asp-for="@Model.InternshipOpportunities.ImageUrl" type="file" name="file" placeholder="Company Name">
                                </div>

                                </div>

                            <div>

                                <label>Description</label>
                                <textarea asp-for="@Model.InternshipOpportunities.Description" rows="3" placeholder="Description"></textarea>
                                <span asp-validation-for="@Model.InternshipOpportunities.Description" class="alert-warning"></span>
                            </div>

                            </div>
                        

                            

                        </div>


                    </div>


                    <div class="sendButton">
                        <div class="backButton">
                        </div>
                        <div class="post-btn" id="next-btn">Next</div>
                        <button type="submit" id="post-btn" class="post-btn">Post</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</section>


@section Scripts {
   
   

<script>
        $(document).ready(function () {
            $('.select2').select2({
                placeholder: 'Search for a location',
                allowClear: true
            });
        });
</script>

<script src="https://cdn.tiny.cloud/1/17ey362kygya3onsmqifoumhul549v4sc5s58njdpa731on7/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
</script>
}