@using Internship.DataAccess.Data;
@using Internship.Utility;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject ApplicationDbContext DbContext
@inject UserManager<ApplicationUser> UserManager
@{
    // Get the currently signed-in user
    ApplicationUser user2 = await UserManager.GetUserAsync(User);

    // Get the associated Student_User record from the Student_User table
    Student_User studentUser = DbContext.Students.FirstOrDefault(s => s.UserId == user2.Id);
    InternshipCoordinator_User CoordinatorUser = DbContext.Coordinators.FirstOrDefault(s => s.UserId == user2.Id);
    CareerCenter_User CareerCenterUser = DbContext.CareerCenters.FirstOrDefault(s => s.UserId == user2.Id);
    Admin_User AdminUser = DbContext.Admins.FirstOrDefault(s => s.UserId == user2.Id);

  
    string studentName = studentUser?.Name;
    string studentId = studentUser?.StudentId.ToString();

    string CoordinatorName = CoordinatorUser ?.Name;
    string CoordinatorId = CoordinatorUser?.Id.ToString();

    string CareerCenterName = CareerCenterUser?.Name;
    string CareerCenterId = CareerCenterUser?.Id.ToString();
    string AdminUserName = AdminUser?.Name;
    string AdminUserId = AdminUser?.Id.ToString();

 
}


<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="icon" href="~/img/webIcon.png">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Account</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
       
</head>
<body>
  
        <main class="container">
            <section class="side-bar">

            @if (User.IsInRole(SD.Role_User_Student))
            {
                <div class="logo">
                    <a asp-action="Index" asp-controller="Home" asp-area="Student">
                        <img src="~/img/logo.png" alt="" height="120rem">
                    </a>
                </div>

            }
            else if (User.IsInRole(SD.Role_Career_Center))
            {
                <div class="logo">
                    <a asp-action="Index" asp-controller="Careercenter" asp-area="CareerCenter">
                        <img src="~/img/logo.png" alt="" height="120rem">
                    </a>
                </div>

            }
            else if (User.IsInRole(SD.Role_Admin))
            {
                <div class="logo">
                    <a href="">
                        <img src="~/img/logo.png" alt="" height="120rem">
                    </a>
                </div>

            }
            else if (User.IsInRole(SD.Role_User_Coordinator))
            {
                <div class="logo">
                    <a href="">
                        <img src="~/img/logo.png" alt="" height="120rem">
                    </a>
                </div>

            }
               
          
            <div class="icons">

                @if (User.IsInRole(SD.Role_User_Student))
                {
                     <div class="home">
                        <a asp-action="Index" asp-controller="Home" asp-area="Student">
                            <img src="~/img/home-symbol.png" alt="" height="27px">
                            <p>Home</p>
                        </a>
                    </div>
                }
                else if (User.IsInRole(SD.Role_Career_Center))
                {
                    <div class="home">
                        <a asp-action="Index" asp-controller="Careercenter" asp-area="CareerCenter">
                            <img src="~/img/home-symbol.png" alt="" height="27px">
                            <p>Home</p>
                        </a>
                    </div>
                }
                else if (User.IsInRole(SD.Role_Admin))
                {
                    <div class="home">
                        <a asp-action="" asp-controller="Coordinator" asp-area="Coordinator">
                            <img src="~/img/home-symbol.png" alt="" height="27px">
                            <p>Home</p>
                        </a>
                    </div>
                }
                else if (User.IsInRole(SD.Role_User_Coordinator))
                {
                    <div class="home">
                        <a asp-action="Index" asp-controller="Coordinator" asp-area="Coordinator">
                            <img src="~/img/home-symbol.png" alt="" height="27px">
                            <p>Home</p>
                        </a>
                    </div>
                }
                   
                    <!-- ----------Messages---------- -->
                <div class="Messages" id="Messages">
                    <a asp-action="Messages" asp-controller="Home" asp-area="User" style="display: flex; align-items: center;">
                        <img src="~/img/messages-symbol.png" alt="" width="27px " height="22px"><p> Messages </p>
                        </a>
                    </div>
                    <!-- ----------Messages---------- -->

                    <div class="internship">
                    <a asp-area="User" asp-controller="Home" asp-action="Internship">
                            <img src="~/img/internship-symbol.png" alt="" height="22px">
                            <p>Internship</p>
                        </a>
                    </div>
                @if (User.IsInRole(SD.Role_User_Student) || User.IsInRole(SD.Role_User_Coordinator))
                {
                    <div class="forms">
                        <a asp-action="Forms" asp-area="Student" asp-controller="Home">
                            <img src="~/img/forms-symbol.png" alt="" height="27px">
                            <p>Forms</p>
                        </a>
                    </div>
                }

                @if ( User.IsInRole(SD.Role_User_Coordinator))
                {
                    <div class="guide">
                        <a asp-area="Coordinator" asp-controller="Announcement" asp-action="Announcements">
                            <img src="~/img/announcement.png" alt="" height="27px">
                            <p>Announcements</p>
                        </a>
                    </div>
                }
                else if (User.IsInRole(SD.Role_Career_Center))
                {
                    <div class="guide">
                        <a asp-area="CareerCenter" asp-controller="Announcements" asp-action="Announcement">
                            <img src="~/img/announcement.png" alt="" height="27px">
                            <p>Announcements</p>
                        </a>
                    </div>
                }

                    <div class="guide">
                        <a href="">
                            <img src="~/img/guide-symbol.png" alt="" height="23px">
                            <p>Guide</p>
                        </a>
                    </div>
                    <div class="logout-support">
                        <div class="logout">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="nav-link btn btn-link text-dark"> <img src="~/img/logout-symbol.png" alt="" height="27px"> Logout</button>
                        </form>
                        </div>
                        <div class="support">
                            <a href="Support.html">
                                <img src="~/img/support-symbol.png" alt="">
                                <p>Support</p>
                            </a>
                        </div>

                    </div>

                </div>


            </section>
            <!-- ----------side menu bar---------- -->
            <div class="right-section">
                <div class="contents">

                    <section class="nav-bar">
                  @*  @if (userStatus == "n/a")
                    {*@
                        
                    @if (User.IsInRole(SD.Role_User_Student))
                    {
                        var user = await UserManager.GetUserAsync(User);

                       @if (user.Status.ToLower() == "notyet" || user.Status.ToLower() == null )
                        {
                            <div>
                                <h3>Status</h3>
                                <div class="status">
                                    <div class="progress-bar">
                                        <div class="progress-circle"></div>
                                        <div class="progress-line"></div>
                                        <div class="progress-circle"></div>
                                        <div class="progress-line"></div>
                                        <div class="progress-circle"></div>
                                        <div class="progress-line"></div>
                                        <div class="progress-circle"></div>

                                    </div>

                                    <a class="status-info" >
                                        <img src="~/img/support-symbol.png"
        alt="">
                                    </a>
                                </div>
                            </div>
                        }
                        else if (user.Status.ToLower() == "applicationsubmit" )
                        {
                            <div>
                                <h3>Status</h3>
                                <div class="status">
                                    <div class="progress-bar">
                                        <a asp-action="Application_Form_View" asp-area="Student" asp-controller="Application">
                                            <div class="progress-circle tooltip progress-animation">
                                                <div class="tooltip-text">Download Your Approved Application</div>
                                            </div>
                                        </a>

                                        <div class="progress-line progress-animation2"></div>


                                        <div class="progress-circle"></div>
                                        <div class="progress-line"></div>
                                        <div class="progress-circle"></div>
                                        <div class="progress-line"></div>
                                        <div class="progress-circle"></div>

                                    </div>

                                    <a class="status-info">
                                        <img src="~/img/support-symbol.png"
        alt="">
                                    </a>
                                </div>
                            </div>
                        }
                        else if (user.Status.ToLower() == "healthinsurance" )
                        {
                            <div>
                                <h3>Status</h3>
                                <div class="status">
                                    <div class="progress-bar">

                                        <a asp-action="Application_Form_View" asp-area="Student" asp-controller="Application">
                                            <div class="progress-circle tooltip progress-animation">
                                                <div class="tooltip-text">Download Your Approved Application</div>
                                            </div>
                                        </a>
                                        <div class="progress-line progress-animation2"></div>



                                        <a asp-action="Health_View" asp-area="Student" asp-controller="Application">
                                            <div class="progress-circle tooltip progress-animation">
                                                <div class="tooltip-text">Download Your Health Insurance</div>
                                            </div>
                                        </a>
                                        <div class="progress-line progress-animation2"></div>


                                        <div class="progress-circle"></div>
                                        <div class="progress-line"></div>


                                        <div class="progress-circle"></div>

                                    </div>

                                    <a class="status-info">
                                        <img src="~/img/support-symbol.png"
        alt="">
                                    </a>
                                </div>
                            </div>
                        }
                        else if (user.Status.ToLower() == "officialletter")
                        {
                            <div>
                                <h3>Status</h3>
                                <div class="status">
                                    <div class="progress-bar">

                                        <a asp-action="Application_Form_View" asp-area="Student" asp-controller="Application">
                                            <div class="progress-circle tooltip progress-animation">
                                                <div class="tooltip-text">Download Your Approved Application</div>
                                            </div>
                                        </a>
                                        <div class="progress-line progress-animation2"></div>



                                        <a asp-action="Official_Letter_View" asp-area="Student" asp-controller="Application">
                                            <div class="progress-circle tooltip progress-animation">
                                                <div class="tooltip-text">Download Your Official Letter</div>
                                            </div>
                                        </a>
                                        <div class="progress-line progress-animation2"></div>


                                        <div class="progress-circle"></div>
                                        <div class="progress-line"></div>


                                        <div class="progress-circle"></div>

                                    </div>

                                    <a class="status-info">
                                        <img src="~/img/support-symbol.png"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                        }
                        else if (user.Status.ToLower() == "letter-health")
                        {
                            <div>
                                <h3>Status</h3>
                                <div class="status">
                                    <div class="progress-bar">

                                        <a asp-action="Application_Form_View" asp-area="Student" asp-controller="Application">
                                            <div class="progress-circle tooltip progress-animation">
                                                <div class="tooltip-text">Download Your Approved Application</div>
                                            </div>
                                        </a>
                                        <div class="progress-line progress-animation2"></div>



                                        <a asp-action="Health_View" asp-area="Student" asp-controller="Application">
                                            <div class="progress-circle tooltip progress-animation">
                                                <div class="tooltip-text">Download Your Health Insurance</div>
                                            </div>
                                        </a>
                                        <div class="progress-line progress-animation2"></div>

                                        <a asp-action="Official_Letter_View" asp-area="Student" asp-controller="Application">
                                            <div class="progress-circle tooltip progress-animation">
                                                <div class="tooltip-text">Download Your Official Letter</div>
                                            </div>
                                        </a>
                                        <div class="progress-line progress-animation2"></div>

                                        <div class="progress-circle"></div>
                                        <div class="progress-line"></div>


                                        <div class="progress-circle"></div>

                                    </div>

                                    <a class="status-info">
                                        <img src="~/img/support-symbol.png"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                        }
                      
                    
                    }
                   
                 
                    



                    <div class="call-to-action-btns">
                        <button id="MessagesButton"><img src="~/img/messages.png" alt="" height="32px"></button>
                        <div class="messagingboxContiner">
                            <div class="messageingbox">
                                <div class="message1">
                                    <span>Message #1</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and </p>
                                    <div class="eyeImg">
                                        <img src="~/img/eye-symbol.png" alt="">
                                    </div>
                                </div>
                                <div class="message2">
                                    <span>Message #2</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and </p>
                                    <div class="eyeImg">
                                        <img src="~/img/eye-symbol.png" alt="">
                                    </div>
                                </div>
                                <div class="message3">
                                    <span>Message #3</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and </p>
                                    <div class="eyeImg">
                                        <img src="~/img/eye-symbol.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button id="NotificationButton"><img src="~/img/Notification.png" alt="" height="35px"></button>
                        <div class="notificationContiner">
                            <div class="notification">
                                <div class="notification1">
                                    <span>Notification #1</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and </p>
                                    <div class="eyeImg">
                                        <img src="~/img/eye-symbol.png" alt="">
                                    </div>
                                </div>
                                <div class="notification2">
                                    <span>Notification #2</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum is simply dummy text of the printing andLorem Ipsum is simply dummy text of the printing andLorem Ipsum is simply dummy text of the printing andLorem Ipsum is simply dummy text of the printing and </p>
                                    <div class="eyeImg">
                                        <img src="~/img/eye-symbol.png" alt="">
                                    </div>
                                </div>
                                <div class="notification3">
                                    <span>Notification #3</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and </p>
                                    <div class="eyeImg">
                                        <img src="~/img/eye-symbol.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="Account" href="Account.html">
                            <img src="~/img/Account.png" alt="" height="60px">
                            <div class="Account-Text">
                                @if (User.IsInRole(SD.Role_User_Student))
                                {
                                    <p>@studentName</p>
                                    <p>@studentId</p>
                                }
                                else if (User.IsInRole(SD.Role_User_Coordinator))
                                {
                                    <p>@CoordinatorName</p>
                                    <p>@CoordinatorId</p>
                                }
                                else if (User.IsInRole(SD.Role_Career_Center))
                                {
                                    <p>@CareerCenterName</p>
                                    <p>@CareerCenterId</p>
                                }
                                else if (User.IsInRole(SD.Role_Admin))
                                {
                                    <p>@AdminUserName</p>
                                    <p>@AdminUserId</p>
                                }
                            </div>
                        </a>
                    </div>
                    </section>


            
                    <main role="main" >
                        @RenderBody()
                    </main>
           


                </div>
        </main>

        
  <script>
      /*
        $(document).click(function (e) {
            var notificationContainer = $(".notificationContiner");
            if (!notificationContainer.is(e.target) && notificationContainer.has(e.target).length === 0) {
                notificationContainer.hide();
            }
        });

        $("#NotificationButton").click(function (e) {
            e.stopPropagation();
            if ($(".notificationContiner").css("display") === "none") {
                $(".notificationContiner").show();
            } else if ($(".notificationContiner").is(":visible")) {
                $(".notificationContiner").hide();
            }
        });


        // Messages box on click

        $(document).click(function (e) {
            var notificationContainer = $(".messagingboxContiner");
            if (!notificationContainer.is(e.target) && notificationContainer.has(e.target).length === 0) {
                notificationContainer.hide();
            }
        });

        $("#MessagesButton").click(function (e) {
            e.stopPropagation();
            if ($(".messagingboxContiner").css("display") === "none") {
                $(".messagingboxContiner").show();
            } else if ($(".messagingboxContiner").is(":visible")) {
                $(".messagingboxContiner").hide();
            }
        });
        */

  </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="~/JS/app.js"></script>
    <script src="~/JS/DataTable.js"></script>

   <script src="~/JS/CareerCenter.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="// cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
